.Comment {
    width: 100%;
    padding: 16px;
    text-align: center;
    border: 5px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
}

.Comment:hover,
.Comment:active {
    background-color: #C0DDF5;
}

.Comment button {
    cursor: pointer;
}
.Author {
    margin: 16px 0;
    color: #ccc;
    padding-left: 10px;
}

.Body {
    padding-left: 10px;
}